@import 'nib'

body {
    background: #333;
    color: white;
    font-family: Helvetica;
}

.portable {
    a {
        color: #f8f8f8;
        text-decoration: none;
        border-bottom: 1px dashed #f8f8f8;
        
        &:visited {
            color: #f8f8f8;
        }
    }
    
    h2 {
        border-bottom: 2px solid #e8e8e8;
        padding-bottom: 4px;
    }
    
    ul {
        list-style: square;
        margin-left: 28px;
    }
    
    pre {
        border-radius 5px
    }
    
    pre code {
        border-radius 5px
    }
    
    blockquote {
        color #ccc
        border-left: 2px solid #bbb
        font-style italic
    }
}
